@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,900;1,900&family=Plus+Jakarta+Sans:wght@400;500;700&family=Space_Grotesk:wght@300;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-headline: "Epilogue", sans-serif;
  --font-body: "Plus Jakarta Sans", sans-serif;
  --font-label: "Space Grotesk", monospace;

  --color-surface: #0a0f13;
  --color-surface-container: #141a1f;
  --color-surface-container-low: #0e1418;
  --color-surface-container-high: #1a2026;
  --color-surface-container-highest: #1f272c;
  --color-surface-container-lowest: #000000;
  
  --color-primary: #8ff5ff;
  --color-primary-dim: #00deec;
  --color-primary-container: #00eefc;
  
  --color-secondary: #ff7168;
  --color-tertiary: #ffe792;
  
  --color-on-surface: #f3f7fd;
  --color-on-surface-variant: #a7abb1;
  
  --color-outline: #71767b;
  --color-outline-variant: #43484d;
}

@layer base {
  body {
    @apply bg-surface text-on-surface font-body selection:bg-primary selection:text-surface-container-lowest;
  }
}

.clipped-corner {
  clip-path: polygon(0 0, 95% 0, 100% 15%, 100% 100%, 0 100%);
}

.stat-segment {
  height: 4px;
  width: 8%;
  background-color: currentColor;
}

.glass-panel {
  background: rgba(31, 39, 44, 0.6);
  backdrop-filter: blur(12px);
}
